.red-bg {
    background-color: rgb(177, 31, 15);
}

.green-bg {
    background-color: rgb(2, 179, 120);
}

.blue-bg {
    background-color: rgb(6, 97, 233);
}

.yellow-bg {
    background-color: rgb(219, 197, 0);
}

.purple-bg {
    background-color: rgb(176, 0, 199);
}

