@import url("layout.css");
@import url("content.css");

/* first responsive site  */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* this one */
header {
    width: 100%;
    background-color: #a5a58b;
}

.logo {
    max-width: 105px;
    margin: 15px;
}

#toggleAssist, 
ul.nav-links {
    display: none;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}


.toggle-button {
    width: 40px;
    float: right;
    padding: 5px;
}

ul.nav-links {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    padding: 10px;
    text-align: center;
}

.nav-links li {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(0,0,0);
}

.nav-links a {
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #000000;
}


section {
    padding: 20px;
}

img {
    max-width: 100%;
}


@media (min-width: 450px) {

}

@media (min-width: 550px) {
    .toggle-button {
        display: none;
    }

    ul.nav-links {
        display: block;
        float: right;
        margin-top: 0;
    }

    .nav-links li {
    display: inline-block;
    padding: 10px;
    border-bottom: none;
    }

} /* END OF MID-SCRREN MEDIA QUERY */

@media (min-width: 960px) {
    header {
    width: auto;
    margin: auto;
} 
/* END OF LRG-SCRREN MEDIA QUERY */